@if (showAvatarPopup) {
  <div class="fixed inset-0 flex items-center justify-center bg-black/50 backdrop-blur-sm z-50 transition-opacity duration-300">
    <div class="relative">
      <img
        [src]="usuario.popup"
        alt="banner promocional"
        class="max-w-[90vw] max-h-[90vh] object-contain rounded-lg shadow-lg transition-transform duration-300 scale-95"
      />
      <button
        (click)="closeAvatarPopup()"
        class="absolute top-2 right-2 bg-red-600 text-white text-2xl w-10 h-10 flex items-center justify-center rounded-full shadow-md hover:bg-red-700 transition-all duration-200"
        aria-label="Cerrar">
        &times;
      </button>
    </div>
  </div>
}
